// Colors
$color-primary: #00E82B;
$color-secondary: #2b2b2a;
$color-secondary--light: #777777;
$color-tertiary: #A2AF9F;

$color-white: #f7f7f7;
$color-black: #141E12;
$color-warning: #cf0000;
$color-wink1: #f9f600;
$color-wink2: #fb6200;

// Fonts
$small-font-size: 1.2rem;
$default-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$big-font-size: 2.3rem;
$huge-font-size: 3rem;
