.highlight {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-top-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    animation: appear 1s ease-in;
    animation-fill-mode: backwards;
  }

  &--1::before,
  &--1::after {animation-delay: 2s;}
  &--2::before,
  &--2::after {animation-delay: 2.7s;}
  &--3::before,
  &--3::after {animation-delay: 5s;}
  &--4::before,
  &--4::after {animation-delay: 5.7s;}
  &--5::before,
  &--5::after {animation-delay: 7s;}

  &::before {
    top: 0;
    left: -.5rem;
    border-top: .2rem solid $color-primary;
    border-left: .2rem solid $color-primary;
  }

  &::after {
    bottom: 0;
    right: -.7rem;
    border-bottom: .2rem solid $color-primary;
    border-right: .2rem solid $color-primary;
  }
}

.quote-title,
.activity-title,
.stack-title {
  font-size: $medium-font-size;
  font-weight: bold;
}

.quote {
  color: $color-white;
  font-style: italic;
  padding: 0 0 2rem;

  @include respond(tab-land) { max-width: 50%; }
}

.technologies,
.activity {
  font-size: $small-font-size;
  color: $color-white;
  font-weight: bold;

  @include respond(desktop) { max-width: 60%; }
}

.activity {
  font-size: $default-font-size;
  font-weight: normal;
}