.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  font-size: $medium-font-size;
  line-height: 1.5;
  animation: appear 2s ease .75s;
  animation-fill-mode: backwards;

  &--home,
  &--thanks { height: 100vh; }
}

