.section {
  &__text--thanks-1 {
    animation: appear .5s ease 1.5s;
    animation-fill-mode: backwards;
  }

  &__thanks-flash {
    color: $color-primary;
    animation: flash .5s ease-out 2.5s;
    animation-fill-mode: backwards;
    display: inline-block;

    @include respond(tab-land) {
      animation: flash-desktop .5s ease-out 2.5s;
      animation-fill-mode: backwards;
    }
  }

  &__thanks-wink {
    animation: appear 1s ease 3.2s;
    animation-fill-mode: backwards;
  }

  &__text--thanks-2 {
    animation: appear 2s ease 4s;
    animation-fill-mode: backwards;
  }
}