.arrow__container {
  position: fixed;
  right: 0;
  width: 10rem;
  height: 50rem;
  display: none;

  animation: moveInRight 1s ease 1.5s;
  animation-fill-mode: backwards;

  @media only screen and (min-width: 40.62em) { display: block; }

  &-link:link,
  &-link:visited {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: $color-tertiary;

    &:hover .arrow__right {
      transform: rotate(-30deg) translate(-1.5rem, -1rem) scale(.6);
      border-color: $color-primary;

      @include respond(tab-land) { transform: rotate(-30deg) translate(-1.5rem, -1rem) scale(1); }
    }
    &:hover .arrow__right::before,
    &:hover .arrow__right::after { border-color: $color-primary; }
    &:hover .arrow__title {
      transform: rotate(0) translate(-1rem, 3rem) scale(.6);
      color: $color-primary;

      @include respond(tab-land) { transform: rotate(0) translate(-1rem, 3rem) scale(1); }
    }
  }
}

.arrow__right {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1rem;
  border-radius: 50%;
  border-top: 3px solid $color-tertiary;
  border-left: 3px solid $color-tertiary;
  transform: rotate(-10deg) scale(.6);
  transition: all .3s ease;

  @include respond(tab-land) { transform: rotate(-10deg) scale(1); }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 1rem;
    border-bottom: 3px solid $color-tertiary;
    transition: all .3s ease;
  }

  &::before {
    top: -2rem;
    width: 3rem;
    border-radius: 50%;
    transform: rotate(60deg) translate(2rem, -1.7rem);
  }

  &::after {
    top: 2rem;
    border-radius: 30%;
    transform: rotate(160deg) translate(-2rem, .5rem);
  }
}

.arrow__title {
  position: fixed;
  transform: rotate(-90deg) translate(-1.8rem, -.5rem) scale(0);
  transition: all .5s ease;

  @media only screen and (hover: none) { transform: rotate(0) translate(0rem, 2rem) scale(.6); }
  @media only screen and (hover: none) and (min-width: 56.25em) { transform: rotate(0) translate(0rem, 3rem) scale(1); }
}