.footer {
  padding: 0 2rem;

  &__heading {
    font-family: 'architects daughter', cursive;
    font-size: $huge-font-size;
    text-align: center;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: $color-white;
    margin-top: 1rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 2rem;
  }
}

