.logo__container {
  position: absolute;
  top: 3%;
  left: 5%;
  width: 5rem;

  animation: scaleUp 1s linear 1s;
  animation-fill-mode: backwards;

  @include respond(desktop) {
    top: 3%;
    left: 2%;
  }
}

.logo__image { width: 100%; }