.logo__container {
  position: fixed;
  top: 3%;
  left: 5%;
  width: 5rem;

  animation: scaleUp 1s linear 1s;
  animation-fill-mode: backwards;

  @include respond(desktop) {
    top: 3%;
    left: 2%;
  }

  &--hidden {
    display: none;

    @media only screen and (min-width: 43.75em) { display: block; }
  }
}

.logo__image { width: 100%; }