.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 5%;
  
  animation: scaleUp 1s linear 1s;
  animation-fill-mode: backwards;

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: .5rem;
      border-radius: 15px;
      background-color: $color-primary;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before { top: -1.3rem; }
    &::after { top: 1.3rem; }
  }
}