.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 5%;
  cursor: pointer;

  animation: scaleUp 1s linear 1s;
  animation-fill-mode: backwards;

  &:hover &__icon { transform: scale(1.2); }
  &:hover &__icon::before { transform: translateX(-1rem); }
  &:hover &__icon::after { transform: translateX(1rem); }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: .5rem;
      border-radius: 15px;
      background-color: $color-primary;
      transition: all .5s ease;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before { top: -1.3rem; }
    &::after { top: 1.3rem; }
  }
}

.clicked .menu__icon {
  background-color: transparent;
}

.clicked:hover .menu__icon {
  transform: scale(1);
}

.clicked .menu__icon::before,
.clicked:hover .menu__icon::before, {
  top: 0;
  transform: translate(0);
  animation: rotateRight .5s forwards 1s;
}