.menu {
  position: fixed;
  bottom: 3vh;
  right: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 200;
  outline: none;

  animation: scaleUp 1s linear 1s;
  animation-fill-mode: backwards;

  @include respond(desktop) {
    top: 1%;
    right: 1%;
    width: 7rem;
    height: 7rem;

    &:focus,
    &:hover { border-bottom: 2px solid $color-primary; }
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: .5rem;
      border-radius: 15px;
      background-color: $color-primary;
      transition: all .5s, top .5s 1s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before { top: -1.3rem; }
    &::after { top: 1.3rem; }
  }
}

.clicked .menu__icon { background-color: transparent; }
.unclicked .menu__icon { transition: background-color .3s 1s; }

.clicked .menu__icon::before,
.clicked .menu__icon::after {
  top: 0;
  transition: top .5s;
}

.clicked .menu__icon::before { animation: rotateRight 1s forwards .5s; }
.clicked .menu__icon::after { animation: rotateRight2 1s forwards .5s; }

.unclicked .menu__icon::before { animation: rotateLeft 1s; }
.unclicked .menu__icon::after { animation: rotateLeft2 1s; }
