.navigation {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);
  width: 100%;
  visibility: hidden;
  z-index: 150;
  overflow: hidden;
  transition: all 2s;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    font-size: $huge-font-size;
    letter-spacing: .3rem;
    text-align: center;

    &:nth-child(odd) {
      transform: translateX(-100%);
      transition: transform cubic-bezier(.57,1.69,.41,.71) .5s;
    }

    &:nth-child(even) {
      transform: translateX(100%);
      transition: transform cubic-bezier(.57,1.69,.41,.71) .6s;
    }

    &:last-child {
      transform: translateX(-100%);
      transition: transform cubic-bezier(.57,1.69,.41,.71) .7s;
    }
  }

  &__link:link,
  &__link:visited {
    display: block;
    text-decoration: none;
    color: $color-primary;
    padding: 1rem 0;
  }
}

.show { visibility: visible; }
.navigation.show .navigation__item { transform: translate(0);}