.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 150;
  overflow: hidden;

  &__list {
    font-family: 'architects daughter', cursive;
    font-size: $huge-font-size;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    letter-spacing: .3rem;
    text-align: center;
    transition: transform ease .3s;

    &:first-child,
    &:last-child,
    &:nth-child(odd) { transform: translateX(-100%); }

    &:nth-child(even) { transform: translateX(100%); }

    &:nth-child(even) { transition-delay: 1.2s; }
    &:nth-child(odd) { transition-delay: .9s; }
    &:nth-child(4) { transition-delay: .6s; }
    &:first-child { transition-delay: 1.5s; }
    &:last-child { transition-delay: .3s; }

    @include respond(desktop) {
      display: flex;
      justify-content: center;
    }
  }

  &__link:link,
  &__link:visited {
    display: block;
    text-decoration: none;
    color: $color-primary;
    padding: 1rem 0;
    border-bottom: 2px solid transparent;

    &:active { border-bottom: 2px solid $color-primary; }
    &.active { color: $color-white; }

    @include respond(desktop) {
      width: 50%;

      &:focus,
      &:hover { border-bottom: 2px solid $color-primary; }
    }
  }
}

.navigation.showNavigation .navigation__item {
  transform: translate(0);
  transition: transform ease .3s;

  &:nth-child(even) { transition-delay: .8s; }
  &:nth-child(odd) { transition-delay: 1.1s; }
  &:nth-child(4) { transition-delay: 1.4s; }
  &:first-child { transition-delay: .5s; }
  &:last-child { transition-delay: 1.7s; }
}










