.navigation {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);
  width: 100%;
  visibility: hidden;
  z-index: 150;
  overflow: hidden;
  transition: all 2s;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item {
    font-size: $huge-font-size;
    letter-spacing: .3rem;
    text-align: center;
    transition: transform cubic-bezier(.57,1.69,.41,.71) .5s;

    &:nth-child(odd),
    &:last-child { transform: translateX(-100%); }

    &:nth-child(odd) { transition-delay: .9s; }

    &:nth-child(even) {
      transform: translateX(100%);
      transition-delay: .6s;
    }

    &:last-child { transition-delay: .3s; }
  }

  &__link:link,
  &__link:visited {
    display: block;
    text-decoration: none;
    color: $color-primary;
    padding: 1rem 0;
  }
}

.showNav { visibility: visible; }

.navigation.showNav .navigation__item {
  transform: translate(0);
  transition: transform cubic-bezier(.57,1.69,.41,.71) .5s;

  &:nth-child(odd) { transition-delay: .5s; }
  &:nth-child(even) { transition-delay: .8s; }
  &:last-child { transition-delay: 1.1s; }
}