.projects {
  &__list {
    list-style: none;
  }

  &__item {

  }
  &__image-container {
    text-align: center;
    margin: 1rem 0;
  }
  &__image {

  }
  &__description-container {

  }
  &__description-title {

  }

  &__description-text {

  }
}