.projects {
  &__list {
    list-style: none;
    margin-top: 1rem;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &-title {
      font-size: $big-font-size;
      color: $color-tertiary;
      margin-bottom: 1rem;
    }
  }

  &__image-container { margin: 1rem 0; }

  &__description-technologies {
    text-transform: uppercase;
    color: $color-tertiary;
    margin-top: .8rem;
  }
}











