.projects {
  &__list {
    list-style: none;
    margin-top: 1rem;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &-title {
      font-size: $big-font-size;
      color: $color-primary;
      margin-bottom: 1rem;
      letter-spacing: .3rem;
    }
  }

  &__image-container { margin: 1rem 0; }
  &__description-text { padding: 0 2rem; }

  &__description-technologies {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: .8rem;
  }
}











