.socials {
  position: fixed;
  bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;

  &__list {
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    line-height: 0;
    margin-left: 5%;
    background-color: $color-white;
    animation: moveInLeft 1s ease .75s;
    animation-fill-mode: backwards;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    // border-bottom: 2px solid transparent;           // Set media
    //
    // &:focus { border-bottom: 2px solid $color-primary; }
  }

  &__icon { font-size: 5rem; }
}

.followMe {
  position: absolute;
  top: -2.2rem;
  left: 5%;
  font-size: $small-font-size;
  color: $color-secondary--light;
  animation: moveInLeft 1s ease .75s;
  animation-fill-mode: backwards;
}

