.socials {
  position: fixed;
  bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;

  @include respond(desktop) { width: auto; }

  &__list {
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    line-height: 0;
    margin-left: 5%;
    background-color: $color-white;
  }

  &__link {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    & span {
      display: block;
      text-indent: -9999rem;
    }

    @include respond(desktop) {
      &:focus,
      &:hover { border-bottom: 2px solid $color-primary; }
    }
  }

  &__icon { font-size: 5rem; }
}

.followMe {
  position: absolute;
  top: -2.2rem;
  left: 5%;
  font-size: $small-font-size;
  color: $color-secondary--light;
}

.socials__list,
.followMe {
  animation: moveInSocials 1s ease .75s;
  animation-fill-mode: backwards;

  @include respond(desktop) {
    margin-left: auto;
    left: auto;

    animation: moveInBottom 1s ease .75s;
    animation-fill-mode: backwards;
  }
}

