*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;

  @include respond(phone) {
    font-size: 68.75% // 1rem = 11px
  }

  @include respond(tab-port) {
    font-size: 75% // 1rem = 12px
  }

  @include respond(desktop) {
    font-size: 81.25% // 1rem = 13px
  }
}

body { box-sizing: border-box; }

::selection {
  background-color: $color-primary;
  color: $color-white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $color-white;
}