body {
  font-size: $default-font-size;
  background-color: $color-secondary;
}

.heading-primary {
  margin-top: -9rem;
  font-size: 4rem;
  text-align: center;

  span {
    font-size: 3.5rem;
  }
}

.heading-secondary {
  font-size: 2rem;
}