body {
  font-family: 'architects daughter';
  font-size: $default-font-size;
  background-color: $color-secondary;
  color: $color-secondary--light;
}

button::-moz-focus-inner { border: none; }

input,
textarea,
button:focus,
button:active,

a:focus,
a:active {
  background-color: rgba(0,0,0,0);

  outline: none;
  border: none;
  border-bottom: 2px solid $color-primary;
}

// a:focus { border-bottom: 1px solid $color-primary; }

.heading-primary {
  color: $color-white;
  font-size: $big-font-size;
  line-height: 1.7;
  animation: jumpTop .5s ease-out 1s;
  animation-fill-mode: backwards;
}

.page__heading {
  font-size: $huge-font-size;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .4rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: $color-tertiary;
  // border-bottom: 1px solid transparent;
  //
  // &:focus { border-bottom: 1px solid $color-primary; }
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button:link,
.button:visited {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: .6rem 2rem;
  font-size: $small-font-size;
  letter-spacing: .3rem;
  text-decoration: none;
  color: $color-white;
  border-radius: 1rem;
  box-shadow: .2rem .3rem 1rem $color-black;
  transition: all .5s;

  & span { margin-left: 1rem; }

  @media only screen and (min-width: 800px) and (hover: hover) {
    &:hover {
      color: $color-primary;
      transform: translateY(-.2rem);
    }

    &:active { transform: translate(0); }
  }
}

